@inject LocaleService LocaleService

<select class="locale-select" value="@LocaleService.Current" @onchange="OnChanged">
    <option value="@LocaleService.English">🇬🇧 English</option>
    <option value="@LocaleService.Romanian">🇷🇴 Romanian</option>
</select>

@code {
    protected override async Task OnInitializedAsync()
        => await LocaleService.InitialiseAsync();

    private async Task OnChanged(ChangeEventArgs e)
        => await LocaleService.SetLocaleAsync(e.Value?.ToString());
}
