@inherits LayoutComponentBase

<div class="app-layout">
    <header class="top-bar">
        <div class="top-bar-auth">
            <ApiKeyWidget />
        </div>
        <div class="top-bar-locale">
            <LocaleSelector />
        </div>
    </header>
    <main class="page-content">
        @Body
    </main>
    <AppFooter />
</div>
