@layout MainLayout
@implements IDisposable
@inject LocaleService LocaleService

<h3>@L.NotFoundTitle</h3>
<p>@L.NotFoundMessage</p>

@code {
    private LocalisationStrings L => LocaleService.Strings;

    protected override void OnInitialized()
        => LocaleService.OnChange += OnLocaleChanged;

    private void OnLocaleChanged() => InvokeAsync(StateHasChanged);

    public void Dispose() => LocaleService.OnChange -= OnLocaleChanged;
}